<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right algin-items-center">
                        <figure>
                            <img src="Images/Logo.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to My Weather App.</p>
                        <h1>Iam A <span class="text_clr"> Mern Stack Developer </span> and also an Enginner. </h1>
                        <a href="https://www.instagram.com/_yash_36/" target="_yash_36"><button>About ME</button></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer code -->
        {{>footer}}
</body>

</html>